<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_RAFpBEWHzRbIQcKonB1jSL1GUOZ7zpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1099336782185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.msritdigital</string>
	<key>PROJECT_ID</key>
	<string>msritdigital</string>
	<key>STORAGE_BUCKET</key>
	<string>msritdigital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099336782185:ios:db185bd78eac2ce9d8adf8</string>
</dict>
</plist>